curl -X POST \
    -d 'userName=' \
    -d 'emailAddress=' \
    -d 'ipAddress=' \
    -d 'url=' \
    -d 'userAgent=' \
    -d 'eventTime=' \
    -d 'firstName=' \
    -d 'lastName=' \
    -d 'fullName=' \
    -d 'pageTitle=' \
    -d 'phoneNumber=' \
    -d 'httpReferer=' \
    -d 'httpCode=' \
    -d 'browserLanguage=' \
    -d 'eventType=' \
    -d 'httpMethod=' \
    -d 'userCreated=' \
    -d 'payload=' \
    -H 'Api-Key: {{ @apiKey }}' \
    -H 'Content-Type: application/x-www-form-urlencoded' \
    {{ @apiUrl }}
