parameters:
  level: 6
  paths:
    - .
  excludePaths:
    - vendor
    - .github
    - tests
    - libs
  ignoreErrors:
    - identifier: missingType.iterableValue
    - '#Access to protected property .*\\Entities\\.*::\$[A-Za-z]+#'
