<div class="card events-card" data-item-id="check-updates-form">
    <form method="POST" action="{{ @BASE }}/settings">
        <input type="hidden" name="token" value="{{ @CSRF }}">
        <input type="hidden" name="cmd" value="checkUpdates" />

        <div class="card-header">
            <div class="card-header-title">{{ @settings_checkUpdates_form_title }}</div>
        </div>

        <div class="card-content">
            <div class="content">
                <div class="field">
                    <label class="label">{{ @settings_form_checkUpdates_currentVerision }}</label>
                    <div class="control"><code>{{ @CURRENT_VERSION }}</code></div>
                </div>
            </div>
        </div>

        <footer class="card-footer">
            <input type="submit" class="button is-primary" value="{{ @settings_checkUpdates_form_button }}" >
        </footer>
    </form>
</div>
