<include href="templates/parts/internalHeader.html" />
<div id="wrap">
    <include href="templates/parts/leftMenu.html" />
    <div class="main">
        <include href="templates/parts/forms/globalSearchForm.html" />
        <include href="templates/parts/systemNotification.html" />
        <include href="templates/parts/welcomeMessage.html" />
        <include href="templates/parts/notification.html" />

        <include href="{{ @destHtml }}" />
    </div>

</div>
<include href="templates/parts/internalFooter.html" />
