<table class="table-tile content">
    <tr>
        <td class="table-card" id="user-card">
            <header class="card-header">
                <div class="card-header-title">
                    {{ @AdminUser_widgets_id }}<p class="tooltip-info  tooltip" title="{{ @AdminUser_widgets_id_tooltip }}"><include href="images/icons/information.svg" alt=''/></p>
                </div>
            </header>

            <div class="content" id="user-id-tile">
                <div class="itemDetails">
                    <span class="tooltip detailsTileTitle" title="{{ @Base_table_column_user_registered_tooltip }}">{{ @Base_table_column_user_registered }}</span>
                    <span class="detailsTileValue" id="signup-date"><span class="loading-background">&#8943;</span></span>
                </div>
                <div class="itemDetails">
                    <span class="tooltip detailsTileTitle" title="{{ @Base_table_column_lastseen_tooltip }}">{{ @Base_table_column_lastseen }}</span>
                    <span class="detailsTileValue" id="lastseen"><span class="loading-background">&#8943;</span></span>
                </div>
                <div class="itemDetails">
                    <span class="tooltip detailsTileTitle" title="{{ @Base_table_column_latest_decision_tooltip }}">{{ @Base_table_column_latest_decision }}</span>
                    <span class="detailsTileValue" id="latest-decision"><span class="loading-background">&#8943;</span></span>
                </div>
                <div class="itemDetails">
                    <span class="tooltip detailsTileTitle" title="{{ @Base_table_column_reviewed_status_tooltip }}">{{ @Base_table_column_reviewed_status }}</span>
                    <span class="detailsTileValue" id="review-status"><span class="loading-background">&#8943;</span></span>
                </div>
                <div class="itemDetails">
                    <span class="tooltip detailsTileTitle" title="{{ @Base_table_column_user_firstname_tooltip }}">{{ @Base_table_column_user_firstname }}</span>
                    <span class="detailsTileValue" id="firstname"><span class="loading-background">&#8943;</span></span>
                </div>
                <div class="itemDetails">
                    <span class="tooltip detailsTileTitle" title="{{ @Base_table_column_user_lastname_tooltip }}">{{ @Base_table_column_user_lastname }}</span>
                    <span class="detailsTileValue" id="lastname"><span class="loading-background">&#8943;</span></span>
                </div>
                <div class="itemDetails">
                    <span class="tooltip detailsTileTitle" title="{{ @Base_table_column_userid_tooltip }}">{{ @Base_table_column_userid }}</span>
                    <span class="detailsTileValue" id="userid"><span class="loading-background">&#8943;</span></span>
                </div>
            </div>

        </td>

        <td class="table-card" id="day-behaviour-card">
            <header class="card-header">
                <div class="card-header-title">
                    {{ @UserDetails_day_card_title }}<p class="tooltip-info tooltip" title="{{ @UserDetails_day_card_title_tooltip }}"><include href="images/icons/information.svg" alt=''/></p>
                </div>
            </header>

            <div class="content" id="day-behaviour-tile">
                <div class="itemDetails">
                    <span class="tooltip detailsTileTitle" title="{{ @UserDetails_failed_login_count_tooltip }}">{{ @UserDetails_failed_login_count }}</span>
                    <span class="detailsTileValue" id="failed-login-count"><span class="loading-background">&#8943;</span></span>
                </div>
                <div class="itemDetails">
                    <span class="tooltip detailsTileTitle" title="{{ @UserDetails_password_reset_count_tooltip }}">{{ @UserDetails_password_reset_count }}</span>
                    <span class="detailsTileValue" id="password-reset-count"><span class="loading-background">&#8943;</span></span>
                </div>
                <div class="itemDetails">
                    <span class="tooltip detailsTileTitle" title="{{ @UserDetails_auth_error_count_tooltip }}">{{ @UserDetails_auth_error_count }}</span>
                    <span class="detailsTileValue" id="auth-error-count"><span class="loading-background">&#8943;</span></span>
                </div>
                <div class="itemDetails">
                    <span class="tooltip detailsTileTitle" title="{{ @UserDetails_off_hours_login_count_tooltip }}">{{ @UserDetails_off_hours_login_count }}</span>
                    <span class="detailsTileValue" id="off-hours-login-count"><span class="loading-background">&#8943;</span></span>
                </div>
                <div class="itemDetails">
                    <span class="tooltip detailsTileTitle" title="{{ @UserDetails_device_count_tooltip }}">{{ @UserDetails_device_count }}</span>
                    <span class="detailsTileValue" id="median-event-count"><span class="loading-background">&#8943;</span></span>
                </div>
                <div class="itemDetails">
                    <span class="tooltip detailsTileTitle" title="{{ @UserDetails_ip_count_tooltip }}">{{ @UserDetails_ip_count }}</span>
                    <span class="detailsTileValue" id="login-count"><span class="loading-background">&#8943;</span></span>
                </div>
                <div class="itemDetails">
                    <span class="tooltip detailsTileTitle" title="{{ @UserDetails_session_count_tooltip }}">{{ @UserDetails_session_count }}</span>
                    <span class="detailsTileValue" id="session-count"><span class="loading-background">&#8943;</span></span>
                </div>
            </div>
        </td>

        <td class="table-card" id="week-behaviour-card">
            <header class="card-header">
                <div class="card-header-title">
                    {{ @UserDetails_week_card_title }}<p class="tooltip-info tooltip" title="{{ @UserDetails_week_card_title_tooltip }}"><include href="images/icons/information.svg" alt=''/></p>
                </div>
            </header>

            <div class="content" id="week-behaviour-tile">
                <div class="itemDetails">
                    <span class="tooltip detailsTileTitle" title="{{ @UserDetails_failed_login_count_tooltip }}">{{ @UserDetails_failed_login_count }}</span>
                    <span class="detailsTileValue" id="failed-login-count"><span class="loading-background">&#8943;</span></span>
                </div>
                <div class="itemDetails">
                    <span class="tooltip detailsTileTitle" title="{{ @UserDetails_password_reset_count_tooltip }}">{{ @UserDetails_password_reset_count }}</span>
                    <span class="detailsTileValue" id="password-reset-count"><span class="loading-background">&#8943;</span></span>
                </div>
                <div class="itemDetails">
                    <span class="tooltip detailsTileTitle" title="{{ @UserDetails_auth_error_count_tooltip }}">{{ @UserDetails_auth_error_count }}</span>
                    <span class="detailsTileValue" id="auth-error-count"><span class="loading-background">&#8943;</span></span>
                </div>
                <div class="itemDetails">
                    <span class="tooltip detailsTileTitle" title="{{ @UserDetails_off_hours_login_count_tooltip }}">{{ @UserDetails_off_hours_login_count }}</span>
                    <span class="detailsTileValue" id="off-hours-login-count"><span class="loading-background">&#8943;</span></span>
                </div>
                <div class="itemDetails">
                    <span class="tooltip detailsTileTitle" title="{{ @UserDetails_device_count_tooltip }}">{{ @UserDetails_device_count }}</span>
                    <span class="detailsTileValue" id="median-event-count"><span class="loading-background">&#8943;</span></span>
                </div>
                <div class="itemDetails">
                    <span class="tooltip detailsTileTitle" title="{{ @UserDetails_ip_count_tooltip }}">{{ @UserDetails_ip_count }}</span>
                    <span class="detailsTileValue" id="login-count"><span class="loading-background">&#8943;</span></span>
                </div>
                <div class="itemDetails">
                    <span class="tooltip detailsTileTitle" title="{{ @UserDetails_session_count_tooltip }}">{{ @UserDetails_session_count }}</span>
                    <span class="detailsTileValue" id="session-count"><span class="loading-background">&#8943;</span></span>
                </div
            </div>
        </td>

        <td class="table-card" id="month-behaviour-card">
            <header class="card-header">
                <div class="card-header-title">
                    {{ @UserDetails_month_card_title }}<p class="tooltip-info tooltip" title="{{ @UserDetails_month_card_title_tooltip }}"><include href="images/icons/information.svg" alt=''/></p>
                </div>
            </header>

            <div class="content" id="month-behaviour-tile">
                <div class="itemDetails">
                    <span class="tooltip detailsTileTitle" title="{{ @UserDetails_failed_login_count_tooltip }}">{{ @UserDetails_failed_login_count }}</span>
                    <span class="detailsTileValue" id="failed-login-count"><span class="loading-background">&#8943;</span></span>
                </div>
                <div class="itemDetails">
                    <span class="tooltip detailsTileTitle" title="{{ @UserDetails_password_reset_count_tooltip }}">{{ @UserDetails_password_reset_count }}</span>
                    <span class="detailsTileValue" id="password-reset-count"><span class="loading-background">&#8943;</span></span>
                </div>
                <div class="itemDetails">
                    <span class="tooltip detailsTileTitle" title="{{ @UserDetails_auth_error_count_tooltip }}">{{ @UserDetails_auth_error_count }}</span>
                    <span class="detailsTileValue" id="auth-error-count"><span class="loading-background">&#8943;</span></span>
                </div>
                <div class="itemDetails">
                    <span class="tooltip detailsTileTitle" title="{{ @UserDetails_off_hours_login_count_tooltip }}">{{ @UserDetails_off_hours_login_count }}</span>
                    <span class="detailsTileValue" id="off-hours-login-count"><span class="loading-background">&#8943;</span></span>
                </div>
                <div class="itemDetails">
                    <span class="tooltip detailsTileTitle" title="{{ @UserDetails_device_count_tooltip }}">{{ @UserDetails_device_count }}</span>
                    <span class="detailsTileValue" id="median-event-count"><span class="loading-background">&#8943;</span></span>
                </div>
                <div class="itemDetails">
                    <span class="tooltip detailsTileTitle" title="{{ @UserDetails_ip_count_tooltip }}">{{ @UserDetails_ip_count }}</span>
                    <span class="detailsTileValue" id="login-count"><span class="loading-background">&#8943;</span></span>
                </div>
                <div class="itemDetails">
                    <span class="tooltip detailsTileTitle" title="{{ @UserDetails_session_count_tooltip }}">{{ @UserDetails_session_count }}</span>
                    <span class="detailsTileValue" id="session-count"><span class="loading-background">&#8943;</span></span>
                </div>
            </div>
        </td>
    </tr>
</table>
