<div class="card events-card">
    <header class="card-header">
        <div class="card-header-title">
            {{ @rules_table_title }}
            <span>&#8943;</span><p class="tooltip-info tooltip" title="{{ @rules_table_title_tooltip }}"><include href="images/icons/information.svg" alt=''/></p>
        </div>
    </header>

    <div class="card-table">
        <div class="content">
            <include href="templates/parts/forms/searchForm.html" />
            <table class="table" id="rules-table">
                <thead>
                    <tr>
                        <th class="tooltip rules-code-col" title="{{@rules_table_header_code_tooltip}}">{{ @rules_table_header_code }}</th>
                        <th class="tooltip rules-type-col" title="{{@rules_table_header_group_tooltip}}">{{ @rules_table_header_group }}</th>
                        <th class="tooltip rules-description-col" title="{{@rules_table_header_description_tooltip}}">{{ @rules_table_header_description }}</th>
                        <th class="tooltip rules-proportion-col" title="{{@rules_table_header_proportion_tooltip}}">{{ @rules_table_header_proportion }}</th>
                        <th class="tooltip rules-weight-col" title="{{@rules_table_header_weight_tooltip}}">{{ @rules_table_header_weight }}</th>
                        <th class="tooltip rules-action-col" title="{{@rules_table_header_users_tooltip}}">{{ @rules_table_header_users }}</th>
                    </tr>
                </thead>
            </table>
            <include href="templates/parts/forms/reloadRulesForm.html">
        </div>
    </div>
</div>
