<table class="table" id="sensor-table">
    <thead>
        <tr>
            <th>{{ @api_table_column_sensor_url }}</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><code>{{ @API_URL }}</code></td>
        </tr>
    </tbody>
</table>
<table class="table" id="token-table">
    <thead>
        <tr>
            <th>{{ @api_table_column_sensor_key }}</th>
            <th>{{ @api_table_column_created_at }}</th>
            <th class="tooltip action-button-col" title="{{ @api_table_column_action_tooltip }}">{{ @api_table_column_action }}</th>
        </tr>
    </thead>
    <tbody>
        <repeat group="{{ @API_KEYS }}" value="{{ @API_KEY }}">
            <tr>
                <td><code>{{ @API_KEY.key }}</code></td>
                <td>{{ tirreno('utils')->elapsedDate->short(@API_KEY.created_at) }}</td>
                <td>
                    <include href="templates/parts/forms/resetKeyForm.html" with="id={{@API_KEY.id}}, isOwner={{@IS_OWNER}}" />
                </td>
            </tr>
        </repeat>
    </tbody>
</table>
<table class="table" id="data-ingestion-table">
    <thead>
        <tr>
            <th>{{ @api_table_column_data_ingestion }}</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <dl>
                    <repeat group="{{ @api_http_endpoint_data_ingestion }}" key="{{ @key }}" value="{{ @item }}">
                        <dt>{{ @key + 1 }}. {{ @item }}</dt>
                    </repeat>
                </dl>
            </td>
        </tr>
    </tbody>
</table>
